# Dependencies
node_modules/
apps/web/node_modules/
apps/admin/node_modules/

# Next.js
.next/
apps/web/.next/
apps/admin/.next/

# Env
.env*
apps/web/.env*
apps/admin/.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/Editor
.DS_Store
*.swp
.idea/
.vscode/
